body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#status {
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.online {
  color: green;
  margin: 0;
}

.offline {
  color: red;
}
.hidden {
  display: none;
}

canvas {
  margin-top: 20px;
}

#chart-container {
  max-height: 500px;
  max-width: 90vw;
}
.export-button {
  margin-top: 10px;
}

#dev-mode-display {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: purple;
  opacity: 50%;
}
